gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Flutter
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
build/
android/.gradle
ios/Pods
*.iml
.idea/
*.lock
*.log

